<%= form_for(@processing) do |f| %>
  <% if @processing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@processing.errors.count, "error") %> prohibited this processing from being saved:</h2>

      <ul>
      <% @processing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :discountrate %><br>
    <%= f.text_field :discountrate %>
  </div>
  <div class="field">
    <%= f.label :transfee %><br>
    <%= f.text_field :transfee %>
  </div>
  <div class="field">
    <%= f.label :batchfee %><br>
    <%= f.text_field :batchfee %>
  </div>
  <div class="field">
    <%= f.label :annualfee %><br>
    <%= f.text_field :annualfee %>
  </div>
  <div class="field">
    <%= f.label :statementfee %><br>
    <%= f.text_field :statementfee %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
