<h1>Listing salesreps</h1>

<table>
  <thead>
    <tr>
      <th>Rep fname</th>
      <th>Rep lname</th>
      <th>Rep email</th>
      <th>Rep phone</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @salesreps.each do |salesrep| %>
      <tr>
        <td><%= salesrep.rep_fname %></td>
        <td><%= salesrep.rep_lname %></td>
        <td><%= salesrep.rep_email %></td>
        <td><%= salesrep.rep_phone %></td>
        <td><%= link_to 'Show', salesrep %></td>
        <td><%= link_to 'Edit', edit_salesrep_path(salesrep) %></td>
        <td><%= link_to 'Destroy', salesrep, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Salesrep', new_salesrep_path %>
