<p id="notice"><%= notice %></p>

<p>
  <strong>Saleterminal:</strong>
  <%= @lease.saleterminal_id %>
</p>

<p>
  <strong>Merchant:</strong>
  <%= @lease.merchant_id %>
</p>

<p>
  <strong>Salesrep:</strong>
  <%= @lease.salesrep_id %>
</p>

<p>
  <strong>Lease price:</strong>
  <%= @lease.lease_price %>
</p>

<p>
  <strong>Lease date:</strong>
  <%= @lease.lease_date %>
</p>

<p>
  <strong>Lease term months:</strong>
  <%= @lease.lease_term_months %>
</p>

<%= link_to 'Edit', edit_lease_path(@lease) %> |
<%= link_to 'Back', leases_path %>
