<p style ="text-align:center;font-family: Arial;font-size:15px">Card Merchant Solutions,Inc is an independent sales group of Central Payment Corp.</p>
<p style ="text-align:center;font-family: Arial;font-size:15px;"> &copy;2014</p>
<table>
        <tr>
  		
  		<td>
  			<%= link_to "Conditions of Use", home_conditionsofuse_path %> <br/>
  			<%= link_to "Privacy Policy", home_privacypolicy_path %> <br/>
  			<%= link_to "Announcements", home_announcements_path %> <br/>
  			<%= link_to "Support", home_support_path %> <br/>
  			<%= link_to "Site Map", home_sitemap_path %> <br/>
  		</td>
  	</tr>
</table>


                        