

<table>
 	<tr>
 		<td><%= image_tag 'CMStm2.png' %> </td>
 		
 		<td>
 			<%= link_to "Home", home_index_path %> <br/>
 			<%= link_to "About Us", home_about_path %> <br/>
 			<%= link_to "Processing 101", home_processing101_path %> <br/>
 			<%= link_to "Equipment Options", home_terminaloptions_path %> <br/>
 			<%= link_to "Contact us", home_contact_path %> <br/>
 		</td>
 	</tr>
</table>
 